body {
  background-color: #1a3b60; /* color picked from suit portion of profile pic */
}
header {
  text-align: center;
  font-size: large;
}
ul {
  padding: 10px; 
  background: rgba(184,172,127,0.75);  /* color picked from tie portion of profile pic */
  margin-top: 15px;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
a  {
  text-decoration: none;
  color: #1a3b60;
}
a:hover {
  border-bottom: 2px solid #1a3b60; /* color picked from suit portion of profile pic */
}
footer {
  clear: both;
  text-align: center;
  padding: 0;
  color: rgba(184,172,127); /* color picked from tie portion of profile pic */
  font-size: 0.9em;
  vertical-align: middle;
  position: fixed;
  bottom: 10px;
  width: 100%;
}
  img {
    width: 250px;
    display: block;
    margin: 15px auto 0px;
    border-radius: 50%;
    border: 2px solid black;
  }
  article {
    font-size: 20px;
    max-width: 500px;
    padding: 20px;
    margin: 30px auto;
    background-color: rgba(200,200,200,0.25);
    border-radius: 15px;
    line-height: 25px;
  }