body {
  background-color: #A5ACAF;
}
h1 {
  background-color: #002145; 
  color: #66C010; 
  border-radius: 15px; 
  text-align: center;
}
a {
  text-decoration: none;
  color: #002145;
}
a:hover {
  border-bottom: 2px solid #002145;
}
p {
  border-radius: 15px;
  border: 2px solid #002145;
  text-align: center;
  padding: 4px;
  width: 25%;
  margin: 0 auto;
  padding: 1px;
}
footer {
  clear: both;
  text-align: center;
  padding: 0;
  color: #002145;
  font-size: 0.75em;
  vertical-align: middle;
  position: fixed;
  bottom: 10px;
  width: 100%;